{% extends "otree_markets/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Market
{% endblock %}

{% block scripts %}
	    <script type="module" src="/static/motivated_beliefs/single_asset_text_interface.js"></script>
	    <script type="module" src="/static/otree_markets/disable_interface_overlay.js"></script>
{% endblock %}

{% block styles %}
	<style>
		body > div.otree-body.container > h2 {
			display: none;
		}
		.market-container {
			display: flex;
			align-items: center;
			justify-content: center;	
		}
		.market {
			flex: 65%;
		}
		.signal {
			flex: 35%;
		}
		.signal img {
			max-width: 100%;
			height: auto;
		}
		.round_num{
			text-align: center;
			font-size: 150%;
			font-family: verdana;
		}
		.dir{
			font-size: 80%;
		}
	</style>
{% endblock %} 

{% block content %}
<div class ="round_num">
	{{round_num_display_string}}: {{round_num}}
</div> 
	<disable-interface-overlay> 
	</disable-interface-overlay>

	<div class="market-container">
		<div class="market">
			<single-asset-text-interface>
			</single-asset-text-interface>
		</div>
		<div class="signal">
			<p class="dir">
				<b>
				The Computer Assinged you into<br>
				the H-group if your IQ score is higher than your paird plarer<br>
				the L-group if your IQ score is lower than your paird plarer
				<b>
			</p>
			<img src="{{img_sig_url}}"/>
			 <p>
            {%if hi%}
                <b>Your color in this period is <b style="color:#34e610">{{color}}</b><b>
            {%else%}
                <b>Your color in this period is <b style="color:#ff0000">{{color}}</b><b>
            {%endif%}
        </p>
			<p>
				Your private signal is <br>
				{{ signal1black }} black ball{{ signal1black|pluralize }} and {{ signal1white }} white ball{{ signal1white|pluralize }}
			</p>
			<img src="{{img_url}}"/> 
		</div>
	</div>
{% endblock %}
