{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Pre Trading Survey 1
{% endblock %}
{% block styles %}
<style>
.survey-container{
    display: flex;
}
.signal {
    flex: 35%;
}
.signal img {
    max-width: 100%;
    height: auto;
}
.forms {
    flex: 65%;
}
/* The alert message box */
.modal-body {
  padding: 2px 16px;
  background-color: #d40404;
  text-align: center;
  color: white;
}
#id_Question_1_pre_ns.form-control {
    max-width: 100px;
}
.dir{
        font-size: 80%;
    }
#id_Question_1_pre_ns.form-control {
    max-width: 100px;
}
#id_Question_2_pre_ns.form-control {
    max-width: 100px;
}
</style>
{% endblock %} 
{% block scripts %}
<div id="myModal" class="modal">
     <div class="modal-content">
            <div class="modal-body">
              <p></b>Please Answer All The Questions</b></p>
              <p>Then click Next to continue to the next page</p>
            </div>
      </div>
</div>
<script type="text/javascript">
    var modal = document.getElementById("myModal");
        setTimeout(
            function () {
                modal.style.display = "block";
            },
            45*1000 // 25 seconds
        );
        window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
          }
        }
</script>
{% endblock %}
{% block content %}
<body>
<div class = "survey-container">

<div class="forms"> 
    <div> 
        <br>
            <b> Question 1: </b> What do you think is the probability (out of 100) that <br>
             the true state is 'G'?
        </br>
        {% formfield player.Question_1_pre_ns %}
    </div>
    <div> 
        <br>
                <!-- Get current value of min and max from models  -->
                <b> Question 2: </b> What is the lowest price {{divident_range}} at which <br>
                 you are willing to sell your asset?
            </br>
            <br>
                {% formfield player.Question_2_pre_ns %}
    </div>
    <div>
            <br>
                <b> Question 3: </b> Of the 8 traders (yourself included), what do you think <br>
                your rank will be in this period in terms of trading profit?
            </br>
            <br>
                {% formfield player.Question_3_pre_ns %}
            </br>
        </br>
    </div>
    {% next_button %}
</div>
    <div class = "signal">
        <p class="dir">
        	<!-- If the session is treatemnt session, we use the following Grouping Assignment -->
                <b>
                <!-- The Computer assigned you into group<br>
                H if your IQ rank is higher than your paired player<br>
                L if your IQ rank is lower than your paired player -->
                
                {% for line in group_assignment %}
                    {{line}} <br>
                {% endfor %}
                <b> 
                
            <!-- If the session is control session, we use the following Grouping Assignment -->
            <!-- 
                <b>
                The Computer assigned you into group<br>
                H or L by random.
                <b>
            	-->
            </p>
    <img src="{{img_sig_url}}"/>
        <p>
            {%if hi%}
                <b>Your color in this period is <b style="color:#34e610">{{color}}</b><b>
            {%else%}
                <b>Your color in this period is <b style="color:#ff0000">{{color}}</b><b>
            {%endif%}
        </p>
    </div>
</body>
{% endblock %}


